@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,400italic);
nav {
  position: relative;
  top: -150px; }
  nav ul {
    list-style: none;
    text-align: center;
    margin-top: 0px;
    padding-left: 0px; }
    nav ul li {
      display: inline-block;
      width: 145px;
      margin: 0px 0px 0px 0px;
      padding: 15px 0px 15px 0px; }
      nav ul li a {
        text-decoration: none;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 400; }
        nav ul li a:hover {
          color: #333333;
          transition: all 0.4s ease-in-out; }

.indexLink {
  background: #f15824; }

.boardLink {
  background: #faaa19; }

.piecesLink {
  background: #087ab5; }

.cardsLink {
  background: #39c1cb; }

.faqLink {
  background: #a8d37e; }

.contactLink {
  background: #12b362; }

.hasboroLink {
  background: #7655a3; }

.nashvilleLink {
  background: #f6ea53; }

header {
  margin: auto; }
  header #imgwrap {
    width: 750px;
    margin: auto; }
    header #imgwrap img {
      width: 750px;
      margin: auto;
      margin-top: 25px; }
  header h1 {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-size: 100px;
    font-weight: 200;
    text-align: center;
    position: relative;
    margin-top: 0px;
    top: -110px; }

footer {
  margin-top: 50px; }
  footer ul {
    list-style: none;
    text-align: center;
    margin-top: 0px;
    padding-left: 0px; }
    footer ul li {
      display: inline-block;
      width: 145px;
      margin: 0px 0px 0px 0px;
      padding: 15px 0px 15px 0px; }
      footer ul li a {
        text-decoration: none;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 400; }
        footer ul li a:hover {
          text-decoration: underline; }
  footer p {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-size: 8px;
    text-align: right; }

#board {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-image-repeat: none;
  margin: auto; }
  #board .cornerProp {
    width: 68px;
    height: 68px;
    border: 1px solid black;
    border-image-repeat: none;
    float: left; }
  #board .uprightProp {
    width: 38px;
    height: 68px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    float: left; }
    #board .uprightProp .regularProperties {
      width: 37px;
      height: 13.6px;
      border: 1px solid black;
      border-bottom: 2px solid black; }
    #board .uprightProp .purple {
      background-color: #7655a3; }
    #board .uprightProp .teal {
      background-color: #39c1cb; }
    #board .uprightProp .orange {
      background-color: #faaa19; }
    #board .uprightProp .red {
      background-color: #f15824; }
    #board .uprightProp .yellow {
      background-color: #f6ea53; }
    #board .uprightProp .lightGreen {
      background-color: #a8d37e; }
    #board .uprightProp .green {
      background-color: #12b362; }
    #board .uprightProp .blue {
      background-color: #087ab5; }
  #board .rotateRight {
    -webkit-transform: rotate(90deg); }
  #board .rotateLeft {
    -webkit-transform: rotate(270deg);
    position: relative;
    top: -30px;
    left: 30px; }
  #board .upsideDown {
    -webkit-transform: rotate(180deg); }
  #board .horizontalRow {
    width: 500px;
    height: 70px;
    float: left; }
    #board .horizontalRow div {
      float: left; }
  #board .column {
    width: 360px;
    height: 70px; }
  #board #leftCol {
    float: left;
    -webkit-transform: rotate(270deg);
    position: relative;
    right: 145px;
    top: 145px; }
  #board #rightCol {
    -webkit-transform: rotate(90deg);
    float: right;
    position: relative;
    right: -145px;
    top: 75px; }
  #board .flipped {
    -webkit-transform: rotate(180deg);
    position: relative;
    top: 220px; }

#piecewrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: -110px; }
  #piecewrap #sidenav {
    margin-top: 20px;
    float: left;
    width: 350px;
    background: #f5f6f7;
    border-radius: 15px; }
    #piecewrap #sidenav ul {
      list-style: none;
      padding: 25px 25px 25px 25px;
      margin: auto;
      text-align: center; }
      #piecewrap #sidenav ul li {
        margin-bottom: 25px;
        width: 300px;
        border-radius: 15px; }
        #piecewrap #sidenav ul li a {
          text-decoration: none;
          text-align: center;
          font-family: "Source Sans Pro", sans-serif;
          color: white;
          font-size: 45px;
          font-weight: 200;
          padding: 5px;
          border-radius: 15px; }
        #piecewrap #sidenav ul li:hover {
          background: rgba(95, 95, 95, 0.4);
          width: 350px;
          -webkit-transition: width 0.3s linear, background 0.4s ease;
          transition: width 0.3s linear, background 0.4s ease; }
      #piecewrap #sidenav ul .lastpiece {
        margin-bottom: 0px; }
      #piecewrap #sidenav ul .individualpage {
        background: rgba(95, 95, 95, 0.4);
        width: 350px; }
  #piecewrap #piecedesc {
    margin-top: 100px;
    float: left;
    width: 750px;
    margin-left: 60px; }
    #piecewrap #piecedesc img {
      width: 150px;
      float: left;
      display: inline-block; }
    #piecewrap #piecedesc p {
      width: 550px;
      display: inline-block;
      float: left;
      font-size: 30px;
      margin: 0 25px 0 25px; }

.piecetitle {
  text-align: center;
  margin: 0px;
  margin-bottom: 35px;
  padding: 0px; }

body {
  background-color: #333333; }

#container {
  width: 1200px;
  margin: auto; }

.clear {
  clear: both; }

#youtube {
  width: 853px;
  height: 480px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  top: -100px; }

p {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 200; }

h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 45px;
  font-weight: 200; }

.homep {
  position: relative;
  top: -50px;
  text-align: center; }
