@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,400italic);
nav {
  position: relative;
  top: -150px; }
  nav ul {
    list-style: none;
    text-align: center;
    margin-top: 0px;
    padding-left: 0px; }
    nav ul li {
      display: inline-block;
      width: 145px;
      margin: 0px 0px 0px 0px;
      padding: 15px 0px 15px 0px; }
      nav ul li a {
        text-decoration: none;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 400; }
        nav ul li a:hover {
          color: #333333;
          transition: all 0.4s ease-in-out; }

.indexLink {
  background: #f15824; }

.boardLink {
  background: #faaa19; }

.piecesLink {
  background: #087ab5; }

.cardsLink {
  background: #39c1cb; }

.faqLink {
  background: #a8d37e; }

.contactLink {
  background: #12b362; }

.hasboroLink {
  background: #7655a3; }

.nashvilleLink {
  background: #f6ea53; }

header {
  margin: auto; }
  header #imgwrap {
    width: 750px;
    margin: auto; }
    header #imgwrap img {
      width: 750px;
      margin: auto;
      margin-top: 25px; }
  header h1 {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-size: 100px;
    font-weight: 200;
    text-align: center;
    position: relative;
    margin-top: 0px;
    top: -110px; }

footer {
  margin-top: 50px; }
  footer ul {
    list-style: none;
    text-align: center;
    margin-top: 0px;
    padding-left: 0px; }
    footer ul li {
      display: inline-block;
      width: 145px;
      margin: 0px 0px 0px 0px;
      padding: 15px 0px 15px 0px; }
      footer ul li a {
        text-decoration: none;
        font-family: "Source Sans Pro", sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 400; }
        footer ul li a:hover {
          text-decoration: underline; }
  footer p {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-size: 8px;
    text-align: right; }

#board {
  width: 1000px;
  height: 1000px;
  border: 2px solid black;
  border-image-repeat: none;
  margin: auto;
  background-color: #f5f6f7; }
  #board #go {
    background-image: url("../images/go.png");
    background-size: cover;
    -webkit-transform: rotate(180deg); }
  #board #jail {
    background-image: url("../images/jail.png");
    background-size: cover;
    -webkit-transform: rotate(270deg); }
  #board #free {
    background-image: url("../images/free-parking.png");
    background-size: cover; }
  #board #goToJail {
    background-image: url("../images/go-to-jail.png");
    background-size: cover;
    -webkit-transform: rotate(90deg); }
  #board #centerLogo {
    height: 171.64133px;
    width: 667px;
    margin: auto;
    repeat: none;
    background-image: url("../images/nash-skyline-black.png");
    background-size: cover;
    position: relative;
    top: 140px; }
    #board #centerLogo h1 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 88.93333px;
      text-align: center;
      position: relative;
      top: -108px; }
  #board .cornerProp {
    width: 138px;
    height: 138px;
    border: 1px solid black;
    border-image-repeat: none;
    float: left; }
  #board .uprightProp {
    width: 78px;
    height: 138px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    float: left;
    -webkit-transform: rotate(180deg); }
    #board .uprightProp h1 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 13.8px;
      text-align: center; }
    #board .uprightProp h2 {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 9.66px;
      text-align: center;
      color: black; }
    #board .uprightProp .regularProperties {
      width: 77px;
      height: 27.6px;
      border: 1px solid black;
      border-bottom: 2px solid black; }
    #board .uprightProp .purple {
      background-color: #7655a3; }
    #board .uprightProp .teal {
      background-color: #39c1cb; }
    #board .uprightProp .orange {
      background-color: #faaa19; }
    #board .uprightProp .red {
      background-color: #f15824; }
    #board .uprightProp .yellow {
      background-color: #f6ea53; }
    #board .uprightProp .lightGreen {
      background-color: #a8d37e; }
    #board .uprightProp .green {
      background-color: #12b362; }
    #board .uprightProp .blue {
      background-color: #087ab5; }
  #board .propPic {
    width: 55.2px;
    height: 55.2px;
    border: none;
    border-image-repeat: none;
    position: relative;
    left: 11.4px;
    top: 11.4px;
    repeat: no-repeat;
    background-size: cover; }
  #board .caption {
    color: #333333;
    font-size: 6.9px;
    width: 78px;
    height: 13.8px;
    position: relative;
    top: 11.4px;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 6.84px;
    text-align: center; }
  #board .chancePic {
    width: 41.4px;
    height: 86.94px;
    border: none;
    position: relative;
    left: 22.8px;
    top: 11.4px;
    background-size: cover; }
  #board .price {
    width: 78px;
    position: relative;
    margin: auto;
    text-align: center;
    top: 11.4px; }
  #board #carter {
    background-image: url("../images/carter.png"); }
  #board #chicks {
    background-image: url("../images/chicks.png"); }
  #board #brooks {
    background-image: url("../images/brooks.png"); }
  #board #mcentire {
    background-image: url("../images/mcentire.png"); }
  #board #jackson {
    background-image: url("../images/jackson.png"); }
  #board #strait {
    background-image: url("../images/strait.png"); }
  #board #alabama {
    background-image: url("../images/alabama.png"); }
  #board #judds {
    background-image: url("../images/judd.png"); }
  #board #chesney {
    background-image: url("../images/chesney.png"); }
  #board #mcgraw {
    background-image: url("../images/mcgraw.png"); }
  #board #shelton {
    background-image: url("../images/shelton.png"); }
  #board #swift {
    background-image: url("../images/swift.png"); }
  #board #bailey {
    background-image: url("../images/bailey.png"); }
  #board #acuff {
    background-image: url("../images/acuff.png"); }
  #board #bailey {
    background-image: url("../images/bailey.png"); }
  #board #monroe {
    background-image: url("../images/monroe.png"); }
  #board #williams {
    background-image: url("../images/williams.png"); }
  #board #cash {
    background-image: url("../images/cash.png"); }
  #board #jones {
    background-image: url("../images/jones.png"); }
  #board #cline {
    background-image: url("../images/cline.png"); }
  #board #parton {
    background-image: url("../images/parton.png"); }
  #board #pride {
    background-image: url("../images/pride.png"); }
  #board #jennings {
    background-image: url("../images/jennings.png"); }
  #board #atlantic {
    background-image: url("../images/atlantic.png"); }
  #board #curb {
    background-image: url("../images/curb.png"); }
  #board #capitol {
    background-image: url("../images/capitol.png"); }
  #board #third {
    background-image: url("../images/third.jpg"); }
  #board #ryman {
    background-image: url("../images/ryman.png"); }
  #board #grandoleopry {
    background-image: url("../images/grandoleopry.png"); }
  #board .chance {
    background-image: url("../images/chance.jpg"); }
  #board #communityChest {
    background-image: url("../images/communityChest.jpg"); }
  #board #royalties {
    background-image: url("../images/notes.png"); }
  #board .rotateRight {
    -webkit-transform: rotate(90deg); }
  #board .rotateLeft {
    -webkit-transform: rotate(270deg);
    position: relative;
    top: -30px;
    left: 30px; }
  #board .upsideDown {
    -webkit-transform: rotate(180deg); }
  #board .horizontalRow {
    width: 1000px;
    height: 140px;
    float: left; }
    #board .horizontalRow div {
      float: left; }
  #board .column {
    width: 720px;
    height: 140px; }
  #board #leftCol {
    float: left;
    -webkit-transform: rotate(270deg);
    position: relative;
    right: 290px;
    top: 290px; }
  #board #rightCol {
    -webkit-transform: rotate(90deg);
    float: right;
    position: relative;
    right: -290px;
    top: 150px; }
  #board .flipped {
    -webkit-transform: rotate(180deg);
    position: relative;
    top: 440px; }

#piecewrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: -110px; }
  #piecewrap #sidenav {
    margin-top: 20px;
    float: left;
    width: 350px;
    background: #f5f6f7;
    border-radius: 15px; }
    #piecewrap #sidenav ul {
      list-style: none;
      padding: 25px 25px 25px 25px;
      margin: auto;
      text-align: center; }
      #piecewrap #sidenav ul li {
        margin-bottom: 25px;
        width: 300px;
        border-radius: 15px; }
        #piecewrap #sidenav ul li a {
          text-decoration: none;
          text-align: center;
          font-family: "Source Sans Pro", sans-serif;
          color: white;
          font-size: 45px;
          font-weight: 200;
          padding: 5px;
          border-radius: 15px; }
        #piecewrap #sidenav ul li:hover {
          background: rgba(95, 95, 95, 0.4);
          width: 350px;
          -webkit-transition: width 0.3s linear, background 0.4s ease;
          transition: width 0.3s linear, background 0.4s ease; }
      #piecewrap #sidenav ul .lastpiece {
        margin-bottom: 0px; }
      #piecewrap #sidenav ul .individualpage {
        background: rgba(95, 95, 95, 0.4);
        width: 350px; }
  #piecewrap #piecedesc {
    margin-top: 100px;
    float: left;
    width: 750px;
    margin-left: 60px; }
    #piecewrap #piecedesc img {
      width: 150px;
      float: left;
      display: inline-block; }
    #piecewrap #piecedesc p {
      width: 550px;
      display: inline-block;
      float: left;
      font-size: 30px;
      margin: 0 25px 0 25px; }

.piecetitle {
  text-align: center;
  margin: 0px;
  margin-bottom: 35px;
  padding: 0px; }

body {
  background-color: #333333; }

#container {
  width: 1200px;
  margin: auto; }

.clear {
  clear: both; }

#youtube {
  width: 853px;
  height: 480px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  top: -100px; }

p {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 200; }

h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 45px;
  font-weight: 200; }

.homep {
  position: relative;
  top: -50px;
  text-align: center; }

#cards_wrap {
  width: 800px;
  margin: 0 auto;
  position: relative;
  top: -150px; }

#chance {
  float: left; }

#community_chest {
  float: right;
  position: relative; }

.cardsHeading {
  text-align: center;
  text-decoration: underline; }

.cards {
  width: 200px;
  height: 300px;
  background-color: #f5f6f7;
  margin: auto;
  margin-top: 25px;
  border-radius: 15px; }

.chanceCard {
  width: 200px;
  height: 300px;
  background: #faaa19;
  margin: auto;
  margin-top: 25px;
  border-radius: 15px;
  position: absolute;
  z-index: 1; }
  .chanceCard img {
    height: 300px;
    width: 200px;
    z-index: 1; }
  .chanceCard:hover {
    opacity: 0;
    transition: all 0.4s ease-in-out; }

.chanceCard1 {
  width: 200px;
  height: 300px;
  background: #faaa19;
  margin: auto;
  margin-top: 0px;
  border-radius: 15px;
  position: absolute;
  z-index: 1; }
  .chanceCard1 img {
    height: 300px;
    width: 200px;
    z-index: 1; }
  .chanceCard1:hover {
    opacity: 0;
    transition: all 0.4s ease-in-out; }

.communityCard {
  width: 200px;
  height: 300px;
  background: #39c1cb;
  margin: auto;
  margin-top: 25px;
  left: 57px;
  border-radius: 15px;
  position: absolute;
  z-index: 1; }
  .communityCard img {
    height: 300px;
    width: 200px;
    z-index: 1; }
  .communityCard:hover {
    opacity: 0;
    transition: all 0.4s ease-in-out; }

.communityCard1 {
  width: 200px;
  height: 300px;
  background: #39c1cb;
  background-size: 100%;
  margin: auto;
  margin-top: 0px;
  left: 57px;
  border-radius: 15px;
  position: absolute;
  z-index: 1; }
  .communityCard1 img {
    height: 300px;
    width: 200px;
    z-index: 1; }
  .communityCard1:hover {
    opacity: 0;
    transition: all 0.4s ease-in-out; }

.cardDesc {
  color: #333333;
  width: 175px;
  height: 275px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
  padding-top: 15px; }

.faq {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  top: -100px; }
  .faq h2 {
    text-align: center;
    text-decoration: underline; }
  .faq p {
    margin-bottom: 100px; }
  .faq .references {
    margin-bottom: 0px;
    margin-top: 150px;
    text-align: right;
    font-size: 12px; }

dt {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 200; }
