$bgColor: #333333;

$boardSpace: #f5f6f7;

$propertyRed: #f15824;
$propertyOrange: #faaa19;
$propertyBlue: #087ab5;
$propertyTeal: #39c1cb;
$propertyLightGreen: #a8d37e;
$propertyGreen: #12b362;
$propertyPurple: #7655a3;
$propertyYellow: #f6ea53;