footer
{
  margin-top: 50px;
  ul
  {
    list-style: none;
    text-align: center;
    margin-top: 0px;
    padding-left: 0px;
    li
    {
      display: inline-block;
      width: 145px;
      margin: 0px 0px 0px 0px;
      padding: 15px 0px 15px 0px;
      a
      {
        text-decoration: none;
        @include fontFN($font, #ffffff, 20px);
        font-weight: 400;
        &:hover
        {
          text-decoration: underline;
        }
      }
    }
  }
  p
  {
    @include fontFN($font, #ffffff, 8px);
    text-align: right;
  }
}