@import 'colors';
@import 'fonts';
@import 'functions';
@import 'nav';
@import 'header';
@import 'footer';
@import 'board';
@import 'pieces';

body
{
  background-color:$bgColor;
}

#container
{
  width:1200px;
  margin: auto;
}

.clear
{
  clear:both;
}

#youtube
{
width:853px;
height:480px;
margin: auto;
margin-top: 10px;
position: relative;
top: -100px;
}

p
{
  @include fontFN($font, #ffffff, 16px);
  font-weight: 200;
}

h2
{
  @include fontFN($font, #ffffff, 45px);
  font-weight: 200;
}

.homep
{
  position: relative;
  top: -50px;
  text-align: center;
}