@import 'colors';
@import 'fonts';
@import 'functions';
@import 'nav';
@import 'header';
@import 'footer';
@import 'board';
@import 'pieces';

body
{
  background-color:$bgColor;
}

#container
{
  width:1200px;
  margin: auto;
}