!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}
    %title Nashopoly | Home
    %link{rel:'stylesheet', href:"css/normalize.css"}
    %link{rel:'stylesheet', href:"css/style.css"}
  %body
    #container
      %header
        #imgwrap
          %img{src:'images/nash-skyline-white.png'}
        %h1 nashopoly
      %nav
      %section#content
      %footer