!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}
    %title Nashopoly | Home
    %link{rel:'stylesheet', href:"css/normalize.css"}
    %link{rel:'stylesheet', href:"css/style.css"}
  %body
    #container
      / Header Begin
      %header
        #imgwrap
          %img{src:'images/nash-skyline-white.png'}
        #h1wrap
          %h1 nashopoly
      / Header End
      / navigation begin
      %nav
        %ul
          %li.indexLink
            %a{href:'index.html'} home
          %li.boardLink
            %a{href:'html/board.html'} board
          %li.piecesLink
            %a{href:'html/pieces.html'} pieces
          %li.cardsLink
            %a{href:'html/cards.html'} cards
          %li.faqLink
            %a{href:'html/faq.html'} faq
          %li.contactLink
            %a{href:'html/contact.html'} contact us
          %li.hasboroLink
            %a{href:'http://www.hasbro.com/monopoly', target:'_blank'} hasbro
          %li.nashvilleLink
            %a{href:'http://www.nashville.com/', target:'_blank'} nashville
      / navigation end
      %section#content
        #youtube
          %iframe{width:'853', height:'480', src:'http://www.youtube.com/embed/fLUggyHk3eI?rel=0', frameborder:'0', allowfullscreen:true}
        %h2.homep Welcome to Nashopoly.
        %p.homep This site and game are a way for Amanda Thurman, Jerry Sims, and Pete Dunlap <br/> to practice web development skills as part of the Nashville Software School.
      %footer
        %ul
          %li
            %a{href:'index.html'} home
          %li
            %a{href:'html/board.html'} board
          %li
            %a{href:'html/pieces.html'} pieces
          %li
            %a{href:'html/cards.html'} cards
          %li
            %a{href:'html/faq.html'} faq
          %li
            %a{href:'html/contact.html'} contact us
          %li
            %a{href:'http://www.hasbro.com/monopoly', target:'_blank'} hasbro
          %li
            %a{href:'http://www.nashville.com/', target:'_blank'} nashville
        %p (c) 2013 JPA .Developers