!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}
    %title Nashopoly
    %link{rel:'stylesheet', href:"../css/normalize.css"}
    %link{rel:'stylesheet', href:"../css/style.css"}
  %body
    #container
      %header
        #imgwrap
          %img{src:'../images/nash-skyline-white.png'}
        #h1wrap
          %h1 nashopoly
      %nav
        %ul
          %li.indexLink
            %a{href:'../index.html'} home
          %li.boardLink
            %a{href:'board.html'} board
          %li.piecesLink
            %a{href:'pieces.html'} pieces
          %li.cardsLink
            %a{href:'cards.html'} cards
          %li.faqLink
            %a{href:'faq.html'} faq
          %li.contactLink
            %a{href:'contact.html'} contact us
          %li.hasboroLink
            %a{href:'http://www.hasbro.com/monopoly', target:'_blank'} hasbro
          %li.nashvilleLink
            %a{href:'http://www.nashville.com/', target:'_blank'} nashville
    %section#content
      #cards_wrap
        #chance
          %h2.cardsHeading chance
          .chanceCard1
            %img{src:'../images/chance.png'}
          .cards
            %p.cardDesc You visited an old vinyl record exchange and traded for a dusty Johnny Cash Ring of Fire vinyl.  Local hipster pays you triple what it's worth.  Player who has most recently carried an Apple product into a coffee shop must pay you $400.
          .chanceCard
            %img{src:'../images/chance.png'}
          .cards
            %p.cardDesc Things got rowdy.  Pay $125 or go to jail.
            %img{src:'../images/rowdy.png'}
          .chanceCard
            %img{src:'../images/chance.png'}
          .cards
            %p.cardDesc You find out a dirty secret about your label's executive.  Use it as blackmail later to get out of jail free.
          .chanceCard
            %img{src:'../images/chance.png'}
          .cards
            %p.cardDesc You take cosmetic surgery advice from Dolly Parton.  Go to the hospital, if you pass go do not collect $200.
            %img{src:'../images/DollyParton.png'}
          .chanceCard
            %img{src:'../images/chance.png'}
          .cards
            %p.cardDesc The Judds reunion tour is in town. Go to The Judds. If you pass Go, collect $200.
          .chanceCard
            %img{src:'../images/chance.png'}
          .cards
            %p.cardDesc Your resident stylist slips while cutting your hair.  Your emo-hair do polls poorly with your fans and doesn't match your country music.  Next time you pass go, only collect $100.
        #community_chest
          %h2.cardsHeading community chest
          .communityCard1
            %img{src:'../images/communitychest.png'}
          .cards
            %p.cardDesc You get on tour opening for Shania Twain.  Other players attend your show and must pay $50 each to you.
            %img{src:'../images/ticket.png'}
          .communityCard
            %img{src:'../images/communitychest.png'}
          .cards
            %p.cardDesc After a sloppy night with a groupy, you contract the herpes virus.  Pay $200 to the Community Chest for your medical bills.
            %img{src:'../images/redcross.png'}
          .communityCard
            %img{src:'../images/communitychest.png'}
          .cards
            %p.cardDesc Your youtube.com account goes viral.  Go around the board 5 times, collect $200 each time.
          .communityCard
            %img{src:'../images/communitychest.png'}
          .cards
            %p.cardDesc You invest in an extremely talented 64 year old acoustic guitarrist.  Three days later you find him barking like a dog in a nearby alley.  Burn $500.  If you are running out of the money that came with this game visit <a href="http://www.amazon.com/Hasbro-Monopoly-Money/dp/B00000IWCW" target="_blank">MoreMoney.com</a>.
          .communityCard
            %img{src:'../images/communitychest.png'}
          .cards
            %p.cardDesc In an I-scratch-your-back-and-hope-one-day-you-scratch-mine situation, you participate in a Civil War reenactment.  The new duds get you past security guards at the State Capitol where you take all of the money in the community chest.
          .communityCard
            %img{src:'../images/communitychest.png'}
          .cards
            %p.cardDesc You've been hit with copyright infringment lawsuit. Go to jail.
            %img{src:'../images/copyright.png'}
        .clear
    %footer
      %ul
        %li
          %a{href:'../index.html'} home
        %li
          %a{href:'board.html'} board
        %li
          %a{href:'pieces.html'} pieces
        %li
          %a{href:'cards.html'} cards
        %li
          %a{href:'faq.html'} faq
        %li
          %a{href:'contact.html'} contact us
        %li
          %a{href:'http://www.hasbro.com/monopoly', target:'_blank'} hasbro
        %li
          %a{href:'http://www.nashville.com/', target:'_blank'} nashville
