!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}
    %title Nashopoly
    %link{rel:'stylesheet', href:"../css/normalize.css"}
    %link{rel:'stylesheet', href:"../css/style.css"}
  %body
    #container
      %header
        #imgwrap
          %img{src:'../images/nash-skyline-white.png'}
        #h1wrap
          %h1 nashopoly
      %nav
        %ul
          %li.indexLink
            %a{href:'../index.html'} home
          %li.boardLink
            %a{href:'board.html'} board
          %li.piecesLink
            %a{href:'pieces.html'} pieces
          %li.cardsLink
            %a{href:'cards.html'} cards
          %li.faqLink
            %a{href:'faq.html'} faq
          %li.contactLink
            %a{href:'contact.html'} contact us
          %li.hasboroLink
            %a{href:'http://www.hasbro.com/monopoly', target:'_blank'} hasbro
          %li.nashvilleLink
            %a{href:'http://www.nashville.com/', target:'_blank'} nashville
      %section#content
        %p#contactContent This site was built as part of our web development boot camp at Nashville Software School. Feel free to contact us with any questions or comments.
        %ul#contactList
          %li
            %p Pete Dunlap
            %p petedunlap@gmail.com
          %li
            %p Jerry Sims
            %p jerrysims07@gmail.com
          %li
            %p Amanda Thurman
            %p athurman215@gmail.com
        #contactMap
          %iframe{width:"900", height:"660",  frameborder:"0", scrolling:"no", marginheight:"0", marginwidth:"0", src:"http://goo.gl/maps/KISnC"}
          / %a{href:"https://maps.google.com/?ie=UTF8&amp;ll=36.16208,-86.787207&amp;spn=0.004981,0.006899&amp;t=m&amp;z=17&amp;source=embed",  style:"color:#0000FF, text-align:left} View Larger Map
    %footer
      %ul
        %li
          %a{href:'../index.html'} home
        %li
          %a{href:'board.html'} board
        %li
          %a{href:'pieces.html'} pieces
        %li
          %a{href:'cards.html'} cards
        %li
          %a{href:'faq.html'} faq
        %li
          %a{href:'contact.html'} contact us
        %li
          %a{href:'http://www.hasbro.com/monopoly', target:'_blank'} hasbro
        %li
          %a{href:'http://www.nashville.com/', target:'_blank'} nashville