!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: "utf-8"}
    %title Nashopoly
    %link{rel:'stylesheet', href:"../css/normalize.css"}
    %link{rel:'stylesheet', href:"../css/style.css"}
  %body
    #container
      %header
        #imgwrap
          %img{src:'../images/nash-skyline-white.png'}
        #h1wrap
          %h1 nashopoly
      %nav
        %ul
          %li.indexLink
            %a{href:'../index.html'} home
          %li.boardLink
            %a{href:'board.html'} board
          %li.piecesLink
            %a{href:'pieces.html'} pieces
          %li.cardsLink
            %a{href:'cards.html'} cards
          %li.faqLink
            %a{href:'faq.html'} faq
          %li.contactLink
            %a{href:'contact.html'} contact us
          %li.hasboroLink
            %a{href:'http://www.hasbro.com/monopoly', target:'_blank'} hasbro
          %li.nashvilleLink
            %a{href:'http://www.nashville.com/'} nashville
    %section#content
      #piecewrap
        %h2.piecetitle the pieces
        #sidenav
          %ul
            %li
              %a{href:'pieces.html'} Cowboy Hat
            %li
              %a{href:'boot.html'} Boot
            %li
              %a{href:'beer-bottle.html'} Beer Bottle
            %li.lastpiece.individualpage
              %a{href:'microphone.html'} Microphone
        #piecedesc
          %img{src:'../images/microphone.png'}
          %p Check 1, 2. Check. Check. 1 1 2, check, 2 2 1. Check.
          .clear
        .clear
    %footer
      %ul
        %li
          %a{href:'../index.html'} home
        %li
          %a{href:'board.html'} board
        %li
          %a{href:'pieces.html'} pieces
        %li
          %a{href:'cards.html'} cards
        %li
          %a{href:'faq.html'} faq
        %li
          %a{href:'contact.html'} contact us
        %li
          %a{href:'http://www.hasbro.com/monopoly', target:'_blank'} hasbro
        %li
          %a{href:'http://www.nashville.com/'} nashville